/*.o
/Absyn.cpp
/Absyn.hpp
/Makefile
/PatternMatching.hpp
/HaskellPrinter.hpp
/HaskellPrinter.cpp
/ContextFreePrettyPrinter.cpp
/ContextFreePrettyPrinter.hpp
/PrinterCommon.cpp
/PrinterCommon.hpp
/SyntaxPrinter.cpp
/SyntaxPrinter.hpp
/Testgrammar
/Test.cpp
/grammar.l
/grammar.lex.cpp
/grammar.tab.cpp
/grammar.tab.hpp
/grammar.ypp
/libgrammarParser.a
/libgrammarPrinter.a
